{% extends 'base.html.twig' %}

{% block body %}

Edytuj wpis

{{ form_start(contentform) }}
{{ form_widget(contentform) }}
<button type="submit" class="btn btnoutline-secondary">Zapisz</button>
{{ form_end(contentform) }}

<br /><br />

{% endblock %}
