{% extends 'base.html.twig' %}

{% block body %}

Galeria

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btnoutline-secondary">Wrzuć obrazek</button>
{{ form_end(form) }}

{% endblock %}
