{% extends 'base.html.twig' %}

{% block body %}

Zmiana hasła

{{ form_start(passform) }}
{{ form_widget(passform) }}
<button type="submit" class="btn btnoutline-secondary">Zmień hasło</button>
{{ form_end(passform) }}

{% endblock %}
