<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache">
	<neta http-equiv="expires" content="-1">
	<title>port119</title>

        {% block stylesheets %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

                <style type="text/css">

body 
{
        background-image: linear-gradient(to right top, #f4f4f4, #efefef, #eaeaea, #e5e5e5, #e0e0e0);
}
.box
{
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 5px 16px -8px rgba(0,0,0,0.27);
        margin-bottom: 20px;

}
.top_color
{
        background: #414141;
        border-radius: 10px 10px 0px 0px;
        margin-top: 20px;
        color: white;
        padding: 10px;
}
.all
{
        margin: 0 auto;
        width: 95%;
}


                #overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 3%;
  left: 50;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  padding: 0 12px;
  border: 0px solid teal;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  background-color: rgba(0,0,0,0,5);
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-style: none;
  border-color: red;
}


                .link-container {
                        border: 0px solid;
                        width: 50%
                        height: 20px;
                }
                .link-container a {
                        display: block;
                        background: #black;
                        height: 100%;
                        text-align: left;
                }
                .link-container a:hover {
                        background: #f8f8f8;
                }

                .lcolor {
                        color: white;
                }


.lewa_p, .prawa_p
{

}
.poszial_prawa
{
   float: right;
   text-align: right;
}
#top_s
{
   background: black;
   position: sticky;
   z-index: 99999;
   padding-top: 3px;
   padding-bottom: 3px;
   color: white;
   top: 0;
}
.cont
{
   width: 99%;
   margin: 0 auto;
}
.navbar
{
   padding: 0!important;
}
.nav-link, .navbar-brand
{
   padding-top: 0!important;
   padding-bottom: 0!important;
}

.lista li { list-style-type: none; }
                </style>

        {% endblock %}
    </head>



<div id="top_s">

<div class="cont">
<div class="poszial_top row">

<div class="lewa_strona_top col-lg-6">


<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <b>
                  <a class="navbar-brand lcolor" href="/">port119</a>
        </b>
      </li>

</div>
</div>

<div class="prawa_strona_top col-lg-6">
   

<div class="poszial_prawa row">

<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
        <li class="nav-item active">
                <b><a class="navbar-brand lcolor" href="{{ path('hello_world') }}">zaloguj</a></b>
        </li>
      </ul>
  </div>
</nav>




</div>
</nav>
</div>
</div>
</div>
</div>

{% block body %}
{% endblock %}

</body>
</html>
